@using DatingSite.App_code;
@{
    Layout = "~/Shared/Layout.cshtml";
    PageData["owner"] = "Funky's INC";
    User user = new User();

    String culturalInterests = Request.Form["culture"] ?? "";
    String sportingInterests = Request.Form["sports"] ?? "";
    String firstName = Request.Form["fname"];
    String lastName = Request.Form["lname"];
    String dateOfBirth = Request.Form["dob"];
    String ppsn = Request.Form["ppsn"];
    String email = Request.Form["email"];
    String phoneNumber = Request.Form["phone"];
    String height = Request.Form["height"];
    String password = Request.Form["pass"];
    String passwordConfirm = Request.Form["pass-conf"];

    String gender = Request.Form["gender"];
    String relationshipStatus = Request.Form["relationship"];

    Validation.Add("fname", Validator.Required("Please enter your first name"));
    Validation.Add("lname", Validator.Required("Please enter your last name"));
    Validation.Add("ppsn",
        Validator.Required("You must enter your PPSN"),
        MyValidator.CheckSum()
        );
    Validation.Add("email", Validator.Required("An email address is required"), Validator.Regex(@"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.+[a-zA-Z0-9-.]+$", "Incorrect Email Format"));
    Validation.Add("gender", Validator.Required("Please select a gender"));
    Validation.Add("pass", Validator.Required("A password is required"), Validator.Regex(".{8,}", "Password must be 8 characters or more"));
    Validation.Add("pass-conf", Validator.Required(), Validator.EqualsTo("pass", "Passwords do not match"));
    Validation.Add("dob", Validator.DateTime("Incorrect date format entered"));
    Validation.Add("height", Validator.Range(135, 200, "Height must be between 135 and 200 cm"));
    Validation.Add("phone", Validator.Regex(@"(([0-9]{10})|([0-9]{3}\s?-?[0-9]{7})|(\([0-9]{3}\)\s?[0-9]{7}))", "Incorrect phone number format"));

    if (IsPost && Validation.IsValid())
    {

        user.FirstName = firstName;
        user.LastName = lastName;
        user.DateOfBirth = dateOfBirth;
        user.PPSN = ppsn;
        user.Email = email;
        user.PhoneNumber = phoneNumber;
        user.Height = height;
        user.Password = password;
        user.ConfirmPassword = passwordConfirm;
        user.Gender = gender;
        user.Relationship = relationshipStatus;
        user.SportingInterests = sportingInterests;
        user.CulturalInterests = culturalInterests;

        Session.Add("user", user);
        Response.Redirect("~/Summary.cshtml");
    }
    if (!IsPost && Session["user"] != null)
    {
        user = Session["user"] as User;
        firstName = user.FirstName;
        lastName = user.LastName;
        dateOfBirth = user.DateOfBirth;
        ppsn = user.PPSN;
        email = user.Email;
        phoneNumber = user.PhoneNumber;
        height = user.Height;
        password = user.Password;
        passwordConfirm = user.ConfirmPassword;
        gender = user.Gender;
        relationshipStatus = user.Relationship;
        sportingInterests = user.SportingInterests;
        culturalInterests = user.CulturalInterests;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <form method="post">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
                <h2>Welcome, Please complete the following information to register:</h2>
            </div>
            <div class="col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
                <div class="form-group required">
                    <label for="fname"> First Name</label>
                    <input type="text" name="fname" id="fname" class="form-control" value="@firstName" />
                    @Html.ValidationMessage("fname")
                </div>
                <div class="form-group required">
                    <label for="lname"> Last Name</label>
                    <input type="text" name="lname" id="lname" class="form-control" value="@lastName" />
                    @Html.ValidationMessage("lname")
                </div>
                <div class="form-group">
                    <label for="dob"> Date Of Birth</label>
                    <input type="date" name="dob" id="dob" class="form-control" value="@dateOfBirth" />
                    @Html.ValidationMessage("dob")
                </div>
                <div class="form-group required">
                    <label for="pps"> PPS Number</label>
                    <input type="text" name="ppsn" id="pps" class="form-control" value="@ppsn" />
                    @Html.ValidationMessage("ppsn")
                </div>
                <div class="form-group required">
                    <label for="fname"> Email</label>
                    <input type="email" name="email" id="email" class="form-control" value="@email" />
                    @Html.ValidationMessage("email")
                </div>
                <div class="form-group">
                    <label for="phone"> Phone Number:</label>
                    <input type="tel" name="phone" id="phone" class="form-control" value="@phoneNumber" />
                    @Html.ValidationMessage("phone")
                </div>
                <div class="form-group">
                    <label for="height"> Height: (cm)</label>
                    <input type="text" name="height" id="height" class="form-control" value="@height" />
                    @Html.ValidationMessage("height")
                </div>
                <div class="form-group required">
                    <label for="pass"> Password</label>
                    <input type="password" name="pass" id="pass" class="form-control" value="@password" />
                    @Html.ValidationMessage("pass")
                </div>
                <div class="form-group required">
                    <label for="pass-conf"> Confirm Password</label>
                    <input type="password" name="pass-conf" id="pass-conf" class="form-control" value="@passwordConfirm" />
                    @Html.ValidationMessage("pass-conf")
                </div>
                <fieldset>
                    <legend>Gender:</legend>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" id="optionsgender1" value="Male" @(gender == "Male" ? "checked" : "")>
                            Male
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" id="optionsgender2" value="Female" @(gender == "Female" ? "checked" : "")>
                            Female
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" id="optionsgender3" value="Other" @(gender == "Other" ? "checked" : "")>
                            Other
                        </label>
                    </div>
                    @Html.ValidationMessage("gender")
                </fieldset>
                <fieldset>
                    <legend>Relationship Status:</legend>
                    <div class="radio">
                        <label>
                            <input type="radio" name="relationship" id="optionsrelation1" value="Never Married" @(relationshipStatus == "Never Married" ? "checked" : "")>
                            Never Married
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="relationship" id="optionsrelation2" value="Widowed" @(relationshipStatus == "Widowed" ? "checked" : "")>
                            Widowed
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="relationship" id="optionsrelation3" value="Divorced" @(relationshipStatus == "Divorced" ? "checked" : "")>
                            Divorced
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="relationship" id="optionsrelation4" value="Separated" @(relationshipStatus == "Separated" ? "checked" : "")>
                            Separated
                        </label>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <fieldset>
                            <legend>Sporting Interests:</legend>
                            <div class="checkbox">
                                <label for="hiking">
                                    <input type="checkbox" id="hiking" value="Hiking" name="sports" @(sportingInterests.Contains("Hiking") ? "checked" : "")>
                                    Hiking
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="gym">
                                    <input type="checkbox" id="gym" value="Gym Training" name="sports" @(sportingInterests.Contains("Gym Training") ? "checked" : "")>
                                    Gym Training
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="cycling">
                                    <input type="checkbox" id="cycling" value="Cycling" name="sports" @(sportingInterests.Contains("Cycling") ? "checked" : "")>
                                    Cycling
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="dancing">
                                    <input type="checkbox" id="dancing" value="Dancing" name="sports" @(sportingInterests.Contains("Dancing") ? "checked" : "")>
                                    Dancing
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="swimming">
                                    <input type="checkbox" id="swimming" value="Swimming" name="sports" @(sportingInterests.Contains("Swimming") ? "checked" : "")>
                                    Swimming
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="running">
                                    <input type="checkbox" id="running" value="Running" name="sports" @(sportingInterests.Contains("Running") ? "checked" : "")>
                                    Running
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="tennis">
                                    <input type="checkbox" id="tennis" value="Tennis" name="sports" @(sportingInterests.Contains("Tennis") ? "checked" : "")>
                                    Tennis
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="rugby">
                                    <input type="checkbox" id="rugby" value="Rugby" name="sports" @(sportingInterests.Contains("Rugby") ? "checked" : "")>
                                    Rugby
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="winterS">
                                    <input type="checkbox" id="winterS" value="Winter Sports" name="sports" @(sportingInterests.Contains("Winter Sports") ? "checked" : "")>
                                    Winter Sports
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="badm">
                                    <input type="checkbox" id="badm" value="Badminton" name="sports" @(sportingInterests.Contains("Badminton") ? "checked" : "")>
                                    Badminton
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="gaa">
                                    <input type="checkbox" id="gaa" value="Gaa" name="sports" @(sportingInterests.Contains("Gaa") ? "checked" : "")>
                                    Gaa
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="soccer">
                                    <input type="checkbox" id="soccer" value="Soccer" name="sports" @(sportingInterests.Contains("Soccer") ? "checked" : "")>
                                    Soccer
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <fieldset>
                            <legend>Cultural Interests:</legend>
                            <div class="checkbox">
                                <label for="food">
                                    <input type="checkbox" id="food" value="Food" name="culture" @(culturalInterests.Contains("Food") ? "checked" : "")>
                                    Food
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="wine">
                                    <input type="checkbox" id="wine" value="Fine Wine" name="culture" @(culturalInterests.Contains("Fine Wine") ? "checked" : "")>
                                    Fine Wine
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="pMusic">
                                    <input type="checkbox" id="pMusic" value="Pop Music" name="culture" @(culturalInterests.Contains("Pop Music") ? "checked" : "")>
                                    Pop Music
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="rMusic">
                                    <input type="checkbox" id="rMusic" value="Rock Music" name="culture" @(culturalInterests.Contains("Rock Music") ? "checked" : "")>
                                    Rock Music
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="cMusic">
                                    <input type="checkbox" id="cMusic" value="Classical Music" name="culture" @(culturalInterests.Contains("Classical Music") ? "checked" : "")>
                                    Classical Music
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="theatre">
                                    <input type="checkbox" id="theatre" value="Theatre" name="culture" @(culturalInterests.Contains("Theatre") ? "checked" : "")>
                                    Theatre
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="lit">
                                    <input type="checkbox" id="lit" value="Literature" name="culture" @(culturalInterests.Contains("Literature") ? "checked" : "")>
                                    Literature
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="gaming">
                                    <input type="checkbox" id="gaming" value="Gaming" name="culture" @(culturalInterests.Contains("Gaming") ? "checked" : "")>
                                    Gaming
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="trad">
                                    <input type="checkbox" id="trad" value="Traditional Music" name="culture" @(culturalInterests.Contains("Traditional Music") ? "checked" : "")>
                                    Traditional Music
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="cDancing">
                                    <input type="checkbox" id="cDancing" value="Dancing" name="culture" @(culturalInterests.Contains("Dancing") ? "checked" : "")>
                                    Dancing
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
                <button class="btn btn-md btn-success" type="submit">Sign me up!!!</button>
            </div>
        </div>
    </form>
</body>
</html>
